<div>
    <% if current_user %>
      <%= link_to "Edit Bottle", edit_cellar_bottle_path %>
    <% end %>
</div>
<ul>
  <li><%= @bottle.winery %></li>
  <li><%= @bottle.region %></li>
  <li><%= @bottle.varietal %></li>
  <li><%= @bottle.year %></li>
</ul>

<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/skey08.nfeg6gea/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2tleTA4IiwiYSI6ImQ0MjIxNjIxMzY2ZTVkYzg4MzFlMzRkNWRmOTQ5MTE3In0.Nr7IEd2CJDTO3Dh1KeVOhQ'></iframe>
