<div><%= link_to "Edit Bottle", edit_cellar_bottle_path %></div>
<ul>
  <li><%= @bottle.winery %></li>
  <li><%= @bottle.region %></li>
  <li><%= @bottle.varietal %></li>
  <li><%= @bottle.year %></li>
</ul>
