<!DOCTYPE html>
<html>
<head>
  <title>Wine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Wine App</h1>

  <%= link_to 'All Bottles', bottles_path %>
  <%= link_to 'Browse A Cellar', cellars_path %>
  <%= link_to 'Add Your Wine Cellar', new_cellar_path %>

<%= yield %>

</body>
</html>
